@model WTCPortal.Models.IndividualCustomer
@{
    ViewBag.Title = "Customer Creation";
    Layout = "~/Views/Shared/Customers/_LayoutCustomerCreate.cshtml";
}


@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="center align-items-center justify-content-center" style="margin-left: 42%">
        <nav aria-label="breadcrumb">
            <ol class="BBackground breadcrumb">
                <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a onclick="location.href='@Url.Action("Index", "Customer")'">Customers</a></li>
                <li class="breadcrumb-item BCactive" aria-current="page">Customer Creation</li>
            </ol>
        </nav>
    </div>
    <div class="form-horizontal">

        <hr />
        <br />     
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BusinessEntityID)
        @Html.HiddenFor(model => model.NameStyle)
        @Html.HiddenFor(model => model.Suffix)
        @Html.HiddenFor(model => model.rowguid)
        @Html.HiddenFor(model => model.ModifiedDate)
        @Html.HiddenFor(model => model.PersonType)
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-md-10">
                    <div class="tab" role="tabpanel">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Name" role="tab" data-toggle="tab">Personal</a></li>
                            <li role="presentation"><a href="#Contacts" role="tab" data-toggle="tab">Contacts</a></li>
                            <li role="presentation"><a href="#Card" role="tab" data-toggle="tab">Card</a></li>
                            <li role="presentation"><a href="#Address" role="tab" data-toggle="tab">Residential</a></li>
                        </ul>
                        <div class="tab-content tabs">
                            <div role="tabpanel" class="tab-pane fade in" style="background-color: #80808061; width: 1000px" id="Name">
                                <br />
                                <h3 style="margin-left: 10%">Personal Details</h3>
                                <br />
                                <br />
                                <br />
                                <div class="form-horizontal align-items-center justify-content-center">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Title, Model.TitleList, "-Select Title-", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            <div role="tabpanel" class="tab-pane fade" style="background-color: #80808061; width: 1000px" id="Contacts">
                                <br />
                                <h3 style="margin-left: 10%">Contact Details</h3>
                                <br />
                                <br />
                                <br />
                                <div class="form-horizontal align-items-center justify-content-center">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmailPromotion, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.EmailPromotion, new SelectList(Model.Emailnotifications, "Key", "Value"), "-Select Option-", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailPromotion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmailAddress.EmailAddress1, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EmailAddress.EmailAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailAddress.EmailAddress1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonPhone.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PersonPhone.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PersonPhone.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonPhone.PhoneNumberTypeID, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.PersonPhone.PhoneNumberTypeID, new SelectList(Model.Phonetype, "Key", "Value"), "-Select Option-", new { htmlAttributes = new { @class = "form-control" } })

                                                @Html.ValidationMessageFor(model => model.PersonPhone.PhoneNumberTypeID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            @*//////////////////////////////////////////////////////CARD DETAILS TAB//////////////////////////////////////////////*@
                            <div role="tabpanel" class="tab-pane fade" style="background-color: #80808061; width: 1000px" id="Card">
                                <br />
                                <h3 style="margin-left: 10%">Card Details</h3>
                                <br />
                                <br />
                                <br />
                                <div class="form-horizontal align-items-center justify-content-center">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonCreditCard.CreditCard.CardType, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.PersonCreditCard.CreditCard, new SelectList(Model.GetCards, "Key", "Value"), "-Select Option-", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PersonCreditCard.CreditCard.CardType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonCreditCard.CreditCard.CardNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PersonCreditCard.CreditCard.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PersonCreditCard.CreditCard.CardNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonCreditCard.CreditCard.ExpMonth, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PersonCreditCard.CreditCard.ExpMonth, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PersonCreditCard.CreditCard.ExpMonth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonCreditCard.CreditCard.ExpYear, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PersonCreditCard.CreditCard.ExpYear, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PersonCreditCard.CreditCard.ExpYear, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                            @*///////////////////////////////////////////ADDRESS TAB////////////////////////////////////////////////*@
                            <div role="tabpanel" class="tab-pane fade" style="background-color: #80808061; width: 1000px" id="Address">
                                <br />
                                <h3 style="margin-left: 10%">Residential Details</h3>
                                <br />
                                <br />
                                <br />
                                <div class="form-horizontal align-items-center justify-content-center">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.AddressTypeID, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.BusinessEntityAddress.AddressTypeID, new SelectList(Model.AddressIding, "Key", "Value"), "-Select Option-", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.AddressTypeID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.Address.AddressLine1, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BusinessEntityAddress.Address.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.Address.AddressLine1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.Address.AddressLine2, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BusinessEntityAddress.Address.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.Address.AddressLine2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.Address.City, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BusinessEntityAddress.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.Address.City, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row align-items-center justify-content-center">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.Address.StateProvinceID, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.BusinessEntityAddress.Address.StateProvinceID, new SelectList(Model.GetState, "Key", "Value"), "-Select State-", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.Address.StateProvinceID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusinessEntityAddress.Address.PostalCode, htmlAttributes: new { @class = "control-label col-md-10" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BusinessEntityAddress.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusinessEntityAddress.Address.PostalCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div style="margin-left: 900px">
                                        <input type="submit" value="Create" class="btn btn-info" />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
}

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
